---
title:  "Data Gathering - Record Data"
author: "Sheeba Moghal"
format:
    html:
        embed-resources: true
        code-fold: true
execute:
    echo: true
jupyter: python3
---

# Record Data

The record data which is the gist or the main skeleton of my project focuses on understanding individual data points of all entire data. It has been retrieved using almost 152 columns in hand which are important for the EDA. The EDA for my project is a never-ending process and will become better at time. Since for my regression, I’m predicting GDP, having a holistic understanding of current and constant sources of data is just as important. The way economic data is wired is completely different to how the other data works, which is why, it has to be worked with caution. 

Another aspect I'd like to discuss is the autocorrelation and the seasonality of the dataset, since economic data does depend on the progression of time, essentially working on 5 datasets stacked on top of each other and dropping the year column does not make sense, however, I still do that since I'm not yet equipped with the skills to handle time-series data in a way the dataset consists of all the BRICS nations data in addition to their time. Hence, for the sake of this project, the data has to been seen with an assumption of time being constant, but in reality it isn't.

## Data Source

The World Bank Data Bank is a comprehensive library that collects global data on economic, social, and environmental factors. This vast database is critical in gathering data from all nations and across many indicators, providing us with consistency in data collection. This can be a problem, especially if you're collecting data for five countries and the indicators or years of data collected aren't the same. This is made possible by offering a centralised platform for dependable data.

In [1]:
import pandas as pd
from IPython.display import display
brazil=pd.read_excel('../data/excel_files/brazil.xlsx')
china=pd.read_excel('../data/excel_files/china.xlsx')
southafrica=pd.read_excel('../data/excel_files/southafrica.xlsx')
india=pd.read_excel('../data/excel_files/india.xlsx')
russia=pd.read_excel('../data/excel_files/russia.xlsx')

The data for Brazil:

In [2]:
display(brazil.head(5))

,Series Name,Series Code,Country Name,Country Code,1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,Brazil,BRA,13.768581,6.001818,4.354146,10.848967,5.797912,2.918624,...,4.555718e+00,-3.093646e-01,-3.754106e+00,-3.184861e+00,1.233663e+00,2.868586e-01,2.046424e+00,-5.484743e+00,..,..
1,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,Brazil,BRA,467846269164.406311,495925550202.552917,517518872431.296814,573664323409.741943,606924875688.783447,624638732409.052734,...,1.629388e+12,1.624347e+12,1.563367e+12,1.513576e+12,1.532248e+12,1.536644e+12,1.568090e+12,1.482084e+12,..,..
2,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,Brazil,BRA,11.055141,3.505249,1.92229,8.273145,3.334137,0.515137,...,3.651743e+00,-1.160888e+00,-4.564905e+00,-3.967103e+00,4.347945e-01,-5.060355e-01,1.267626e+00,-6.111350e+00,..,..
3,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.GN.ZS,Brazil,BRA,10.011622,10.094172,10.601618,10.379426,10.187242,10.449378,...,1.064177e+01,1.067030e+01,1.058052e+01,1.052608e+01,1.043414e+01,1.052732e+01,1.044730e+01,1.121510e+01,..,..
4,Adjusted savings: education expenditure (% of ...,NY.ADJ.AEDU.GN.ZS,Brazil,BRA,3,3.599282,3.599282,2.9,3,3.2,...,5.541951e+00,5.673230e+00,6.096220e+00,6.240050e+00,6.285939e+00,6.285939e+00,6.285939e+00,6.285939e+00,..,..

Data for Russia:

In [3]:
display(russia.head(5))

,Series Name,Series Code,Country Name,Country Code,1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,Russian Federation,RUS,-20.796923,-9.137814,19.696042,3.955874e+00,-6.462213e+00,2.056573e+01,...,-4.581199e-01,-3.630254e-01,-5.330003e+00,-4.277237e+00,3.160377e+00,5.798398e+00,-1.349856e+00,-1.690429e+00,..,..
1,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,Russian Federation,RUS,361146926879.664185,328145992820.509216,392777764330.353088,4.083156e+11,3.819293e+11,4.604759e+11,...,1.152175e+12,1.147992e+12,1.086804e+12,1.040319e+12,1.073197e+12,1.135425e+12,1.120099e+12,1.101164e+12,..,..
2,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,Russian Federation,RUS,-20.769775,-9.11814,19.870261,4.127896e+00,-6.307291e+00,2.093919e+01,...,-6.698690e-01,-2.125109e+00,-5.533945e+00,-4.452489e+00,3.042448e+00,5.806920e+00,-1.305548e+00,-1.485800e+00,..,..
3,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.GN.ZS,Russian Federation,RUS,47.004948,48.011109,36.041209,3.269108e+01,3.165786e+01,2.077267e+01,...,1.126089e+01,1.196197e+01,1.297331e+01,1.395325e+01,1.382307e+01,1.274670e+01,1.350303e+01,1.284620e+01,..,..
4,Adjusted savings: education expenditure (% of ...,NY.ADJ.AEDU.GN.ZS,Russian Federation,RUS,3.9,3.9,3.544344,3.544344e+00,3.544344e+00,3.545437e+00,...,3.580174e+00,3.754815e+00,3.637684e+00,3.651407e+00,4.413240e+00,4.413240e+00,4.413240e+00,4.413240e+00,..,..

Data for India:

In [4]:
display(india.head(5))

,Series Name,Series Code,Country Name,Country Code,1979 [YR1979],1980 [YR1980],1981 [YR1981],1982 [YR1982],1983 [YR1983],1984 [YR1984],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,India,IND,-4.294464e+00,1.197854e+01,-2.572689e+00,1.626264e+00,1.156210e+01,1.851968e+00,...,5.743356e+00,7.013968e+00,8.865576e+00,7.532403e+00,8.398101e+00,5.840102e+00,4.233916,-6.952693,..,..
1,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,India,IND,2.211879e+11,2.476830e+11,2.413109e+11,2.452352e+11,2.735896e+11,2.786564e+11,...,1.579994e+12,1.690815e+12,1.840715e+12,1.979365e+12,2.145594e+12,2.270899e+12,2367046992096.234863,2202473491333.981445,..,..
2,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.GN.ZS,India,IND,8.340217e+00,8.055168e+00,8.393346e+00,8.819348e+00,8.419293e+00,8.784357e+00,...,1.082108e+01,1.087247e+01,1.062772e+01,1.053878e+01,1.054180e+01,1.071598e+01,10.84664,11.088283,..,..
3,Adjusted savings: education expenditure (% of ...,NY.ADJ.AEDU.GN.ZS,India,IND,2.600000e+00,2.600000e+00,2.600000e+00,3.051058e+00,3.153437e+00,2.700000e+00,...,3.080000e+00,3.080000e+00,3.080000e+00,3.080000e+00,3.080000e+00,3.080000e+00,3.08,3.08,..,..
4,Adjusted savings: net national savings (% of GNI),NY.ADJ.NNAT.GN.ZS,India,IND,7.427910e+00,6.418183e+00,7.373027e+00,7.043158e+00,7.024774e+00,7.097912e+00,...,2.398766e+01,2.288990e+01,2.220882e+01,2.088344e+01,2.155743e+01,2.096942e+01,19.364627,19.896565,..,..

Data for China:

In [5]:
display(china.head(5))

,Series Name,Series Code,Country Name,Country Code,1989 [YR1989],1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,China,CHN,..,..,..,..,..,..,...,5.951001,8.665463,6.970742,8.207387,6.839527,4.001474,4.695245,0.04303,..,..
1,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,China,CHN,..,..,..,..,..,..,...,7169842562616.428711,7791142593670.500977,8334243004919.240234,9018266574819.265625,9635073326670.451172,10020618290151.082031,10491110855724.185547,10495625160109.277344,..,..
2,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.GN.ZS,China,CHN,9.410207,9.758755,9.935973,9.402707,10.529876,11.131854,...,22.366368,22.799193,23.524725,23.245603,23.051969,24.132246,24.535371,26.143102,..,..
3,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.CD,China,CHN,32747520363.167801,35326694769.442497,38154137334.102699,40149557817.641502,46752651147.986801,62672340433.209198,...,2122568302790.290039,2393915292362.180176,2587719804459.140137,2603507524161.830078,2835392168026.049805,3330249981440,3484022656400,3816892893942.959961,..,..
4,Adjusted savings: education expenditure (% of ...,NY.ADJ.AEDU.GN.ZS,China,CHN,1.6,1.78618,1.78618,1.5,1.5,1.8,...,1.79,1.79,1.79,1.79,1.79,1.79,1.79,1.79,..,..

Data for South Africa

In [6]:
display(southafrica.head(5))

,Series Name,Series Code,Country Name,Country Code,1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,South Africa,ZAF,13.995649,6.064966,-5.909503,-1.689113,-0.35459,4.950963,...,1.426967e+00,1.673637e+00,3.396159e+00,-4.102492e-01,2.744982e+00,1.084757e+00,6.215649e-01,-5.191452e+00,..,..
1,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,South Africa,ZAF,83566486105.631912,88634764781.144974,83396890689.261108,81988222737.455215,81697500513.628571,85742313274.95488,...,2.734409e+11,2.780173e+11,2.874592e+11,2.862799e+11,2.941382e+11,2.973289e+11,2.991770e+11,2.836454e+11,..,..
2,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,South Africa,ZAF,10.797713,3.127517,-8.467988,-4.296609,-2.990586,2.158098,...,5.527594e-02,8.352653e-02,1.273791e+00,-1.373576e+00,2.347842e+00,-1.465071e-01,-6.731567e-01,-6.344067e+00,..,..
3,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.GN.ZS,South Africa,ZAF,12.087193,12.005429,13.771913,15.281072,15.936839,16.373562,...,1.399279e+01,1.413843e+01,1.416439e+01,1.458170e+01,1.409668e+01,1.426729e+01,1.441505e+01,1.534208e+01,..,..
4,Adjusted savings: education expenditure (% of ...,NY.ADJ.AEDU.GN.ZS,South Africa,ZAF,5.039765,5.039765,5.039765,5.039765,5.039765,5.039765,...,5.932454e+00,5.970000e+00,5.635345e+00,5.300690e+00,5.464473e+00,5.514553e+00,5.820015e+00,5.820015e+00,..,..

There is a lot of cleaning to do which shall be explored in the later sections of the website.

# Sources

1. World Bank. (n.d.). DataBank. Retrieved from https://databank.worldbank.org/